In [2]:
# import modules
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# read the dataset
# Change the file location if any error is noticed
df = pd.read_excel('/Users/setuparmar/Downloads/Hackthon Train Data.xlsx')

In [4]:
df

,ACCT_NUMBER,BALANCE,SANCTIONAMOUNT,COLLATERALTYPE,COLLATERALVALUE,CREDITLIMIT,DATECLOSED,DATEOPENED,HIGHCREDIT,INSTALLMENTAMOUNT,PASTDUEAMOUNT,REPAYMENTTENURE,TERMFREQUENCY,SELF_TRADE,SECTOR,DOB,Defaulter
0,1024,0.0,50000,NaN,0.0,0.0,2021-09-04,2019-11-29,50000.0,1195.0,0.0,52.0,Bi-weekly,N,NBFC,1971-01-01,0
1,1025,71704.0,80000,NaN,0.0,0.0,NaT,2021-09-04,80000.0,4146.0,0.0,24.0,Monthly,N,NBFC,1971-01-01,0
2,1026,0.0,15000,NaN,NaN,NaN,2014-12-16,2014-01-03,NaN,358.0,0.0,NaN,Monthly,NaN,NaN,1988-05-10,0
3,1027,0.0,20000,NaN,NaN,NaN,2018-02-15,2017-03-15,NaN,907.0,NaN,NaN,Bi-weekly,NaN,NaN,1988-05-10,0
4,1028,21795.0,21795,NaN,NaN,NaN,NaT,2021-08-15,NaN,NaN,0.0,NaN,Monthly,NaN,NaN,1978-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10670,11694,4810.0,30000,NaN,NaN,NaN,NaT,2019-02-18,NaN,1650.0,4950.0,NaN,Monthly,NaN,NaN,1989-01-01,1
10671,11695,43346.0,50000,NaN,NaN,NaN,NaT,2020-01-27,NaN,1800.0,2100.0,NaN,Monthly,NaN,NaN,1989-01-01,1
10672,11696,16524.0,30000,NaN,NaN,NaN,NaT,2020-02-13,NaN,1500.0,10210.0,NaN,Other,NaN,NaN,1989-01-01,1
10673,11697,1648.0,30000,NaN,NaN,NaN,NaT,2019-02-18,NaN,1650.0,1650.0,NaN,Monthly,NaN,NaN,1977-01-01,1
10674,11698,16712.0,30000,NaN,NaN,NaN,NaT,2020-12-21,NaN,1420.0,0.0,NaN,Monthly,NaN,NaN,1977-01-01,1

## MODEL CLEANING

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10675 entries, 0 to 10674
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ACCT_NUMBER        10675 non-null  int64
 1   BALANCE            10551 non-null  float64
 2   SANCTIONAMOUNT     10675 non-null  int64
 3   COLLATERALTYPE     868 non-null    float64
 4   COLLATERALVALUE    6245 non-null   float64
 5   CREDITLIMIT        6245 non-null   float64
 6   DATECLOSED         4573 non-null   datetime64[ns]
 7   DATEOPENED         10666 non-null  datetime64[ns]
 8   HIGHCREDIT         6245 non-null   float64
 9   INSTALLMENTAMOUNT  10169 non-null  float64
 10  PASTDUEAMOUNT      10240 non-null  float64
 11  REPAYMENTTENURE    2691 non-null   float64
 12  TERMFREQUENCY      6994 non-null   object
 13  SELF_TRADE         6245 non-null   object
 14  SECTOR             6245 non-null   object
 15  DOB                10675 non-null  datetime64[ns]
 16  Defaulter          10675 non-null  int64
dtypes: datetime64[ns](3), float64(8), int64(3), object(3)
memory usage: 1.4+ MB

In [6]:
df.pop('DOB')

0       1971-01-01
1       1971-01-01
2       1988-05-10
3       1988-05-10
4       1978-01-01
           ...
10670   1989-01-01
10671   1989-01-01
10672   1989-01-01
10673   1977-01-01
10674   1977-01-01
Name: DOB, Length: 10675, dtype: datetime64[ns]

In [7]:
df.head()

,ACCT_NUMBER,BALANCE,SANCTIONAMOUNT,COLLATERALTYPE,COLLATERALVALUE,CREDITLIMIT,DATECLOSED,DATEOPENED,HIGHCREDIT,INSTALLMENTAMOUNT,PASTDUEAMOUNT,REPAYMENTTENURE,TERMFREQUENCY,SELF_TRADE,SECTOR,Defaulter
0,1024,0.0,50000,NaN,0.0,0.0,2021-09-04,2019-11-29,50000.0,1195.0,0.0,52.0,Bi-weekly,N,NBFC,0
1,1025,71704.0,80000,NaN,0.0,0.0,NaT,2021-09-04,80000.0,4146.0,0.0,24.0,Monthly,N,NBFC,0
2,1026,0.0,15000,NaN,NaN,NaN,2014-12-16,2014-01-03,NaN,358.0,0.0,NaN,Monthly,NaN,NaN,0
3,1027,0.0,20000,NaN,NaN,NaN,2018-02-15,2017-03-15,NaN,907.0,NaN,NaN,Bi-weekly,NaN,NaN,0
4,1028,21795.0,21795,NaN,NaN,NaN,NaT,2021-08-15,NaN,NaN,0.0,NaN,Monthly,NaN,NaN,0

In [8]:
df['SANCTIONAMOUNT'] = df['SANCTIONAMOUNT'].fillna(0)
df['HIGHCREDIT'] = df['HIGHCREDIT'].fillna(0)
df['Defaulter'] = df['Defaulter'].fillna(0)

In [9]:
df['HIGHCREDIT'] = df['HIGHCREDIT'].fillna(0)

In [10]:
df['BALANCE'] = df['BALANCE'].fillna(0)

In [11]:
df['COLLATERALTYPE'] = df['COLLATERALTYPE'].fillna(0)

In [12]:
df['COLLATERALTYPE'] = df['COLLATERALTYPE'].replace(1,"Loan")

In [13]:
df['COLLATERALVALUE'] = df['COLLATERALVALUE'].fillna(0)

In [14]:
df['CREDITLIMIT'] = df['CREDITLIMIT'].fillna(0)

In [15]:
df['REPAYMENTTENURE'] = df['REPAYMENTTENURE'].fillna(0)

In [16]:
df['SELF_TRADE'] = df['SELF_TRADE'].replace(np.nan,'No')

In [17]:
df['SELF_TRADE'] = df['SELF_TRADE'].replace('N','Yes')

In [18]:
df['INSTALLMENTAMOUNT'] = df['INSTALLMENTAMOUNT'].replace(np.nan,0)

In [19]:
df['PASTDUEAMOUNT'] = df['PASTDUEAMOUNT'].replace(np.nan,0)

In [20]:
df.sort_values(by=['ACCT_NUMBER'])

,ACCT_NUMBER,BALANCE,SANCTIONAMOUNT,COLLATERALTYPE,COLLATERALVALUE,CREDITLIMIT,DATECLOSED,DATEOPENED,HIGHCREDIT,INSTALLMENTAMOUNT,PASTDUEAMOUNT,REPAYMENTTENURE,TERMFREQUENCY,SELF_TRADE,SECTOR,Defaulter
0,1024,0.0,50000,0.0,0.0,0.0,2021-09-04,2019-11-29,50000.0,1195.0,0.0,52.0,Bi-weekly,Yes,NBFC,0
1,1025,71704.0,80000,0.0,0.0,0.0,NaT,2021-09-04,80000.0,4146.0,0.0,24.0,Monthly,Yes,NBFC,0
2,1026,0.0,15000,0.0,0.0,0.0,2014-12-16,2014-01-03,0.0,358.0,0.0,0.0,Monthly,No,NaN,0
3,1027,0.0,20000,0.0,0.0,0.0,2018-02-15,2017-03-15,0.0,907.0,0.0,0.0,Bi-weekly,No,NaN,0
4,1028,21795.0,21795,0.0,0.0,0.0,NaT,2021-08-15,0.0,0.0,0.0,0.0,Monthly,No,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10670,11694,4810.0,30000,0.0,0.0,0.0,NaT,2019-02-18,0.0,1650.0,4950.0,0.0,Monthly,No,NaN,1
10671,11695,43346.0,50000,0.0,0.0,0.0,NaT,2020-01-27,0.0,1800.0,2100.0,0.0,Monthly,No,NaN,1
10672,11696,16524.0,30000,0.0,0.0,0.0,NaT,2020-02-13,0.0,1500.0,10210.0,0.0,Other,No,NaN,1
10673,11697,1648.0,30000,0.0,0.0,0.0,NaT,2019-02-18,0.0,1650.0,1650.0,0.0,Monthly,No,NaN,1
10674,11698,16712.0,30000,0.0,0.0,0.0,NaT,2020-12-21,0.0,1420.0,0.0,0.0,Monthly,No,NaN,1

In [21]:
df.isnull().sum()

ACCT_NUMBER             0
BALANCE                 0
SANCTIONAMOUNT          0
COLLATERALTYPE          0
COLLATERALVALUE         0
CREDITLIMIT             0
DATECLOSED           6102
DATEOPENED              9
HIGHCREDIT              0
INSTALLMENTAMOUNT       0
PASTDUEAMOUNT           0
REPAYMENTTENURE         0
TERMFREQUENCY        3681
SELF_TRADE              0
SECTOR               4430
Defaulter               0
dtype: int64

In [22]:
#corr = df.corr()

#plt.figure(figsize=(18, 15))
#sns.heatmap(corr, annot=True, vmin=-1.0, cmap='mako')
#plt.title("Correlation Heatmap")
#plt.show()

In [23]:
df['Defaulter']=df['Defaulter'].map ({0:0, 1:1 })

In [24]:
df.pop('SELF_TRADE')

0        Yes
1        Yes
2         No
3         No
4         No
        ...
10670     No
10671     No
10672     No
10673     No
10674     No
Name: SELF_TRADE, Length: 10675, dtype: object

In [25]:
df.pop('COLLATERALTYPE')

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
10670    0.0
10671    0.0
10672    0.0
10673    0.0
10674    0.0
Name: COLLATERALTYPE, Length: 10675, dtype: object

In [26]:
df.pop('DATEOPENED')

0       2019-11-29
1       2021-09-04
2       2014-01-03
3       2017-03-15
4       2021-08-15
           ...
10670   2019-02-18
10671   2020-01-27
10672   2020-02-13
10673   2019-02-18
10674   2020-12-21
Name: DATEOPENED, Length: 10675, dtype: datetime64[ns]

In [27]:
df.pop('DATECLOSED')

0       2021-09-04
1              NaT
2       2014-12-16
3       2018-02-15
4              NaT
           ...
10670          NaT
10671          NaT
10672          NaT
10673          NaT
10674          NaT
Name: DATECLOSED, Length: 10675, dtype: datetime64[ns]

In [28]:
df.pop('TERMFREQUENCY')

0        Bi-weekly
1          Monthly
2          Monthly
3        Bi-weekly
4          Monthly
           ...
10670      Monthly
10671      Monthly
10672        Other
10673      Monthly
10674      Monthly
Name: TERMFREQUENCY, Length: 10675, dtype: object

In [29]:
df.pop('ACCT_NUMBER')

0         1024
1         1025
2         1026
3         1027
4         1028
         ...
10670    11694
10671    11695
10672    11696
10673    11697
10674    11698
Name: ACCT_NUMBER, Length: 10675, dtype: int64

In [30]:
df.pop('SECTOR')

0        NBFC
1        NBFC
2         NaN
3         NaN
4         NaN
         ...
10670     NaN
10671     NaN
10672     NaN
10673     NaN
10674     NaN
Name: SECTOR, Length: 10675, dtype: object

In [31]:
df.astype(float)

,BALANCE,SANCTIONAMOUNT,COLLATERALVALUE,CREDITLIMIT,HIGHCREDIT,INSTALLMENTAMOUNT,PASTDUEAMOUNT,REPAYMENTTENURE,Defaulter
0,0.0,50000.0,0.0,0.0,50000.0,1195.0,0.0,52.0,0.0
1,71704.0,80000.0,0.0,0.0,80000.0,4146.0,0.0,24.0,0.0
2,0.0,15000.0,0.0,0.0,0.0,358.0,0.0,0.0,0.0
3,0.0,20000.0,0.0,0.0,0.0,907.0,0.0,0.0,0.0
4,21795.0,21795.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
10670,4810.0,30000.0,0.0,0.0,0.0,1650.0,4950.0,0.0,1.0
10671,43346.0,50000.0,0.0,0.0,0.0,1800.0,2100.0,0.0,1.0
10672,16524.0,30000.0,0.0,0.0,0.0,1500.0,10210.0,0.0,1.0
10673,1648.0,30000.0,0.0,0.0,0.0,1650.0,1650.0,0.0,1.0
10674,16712.0,30000.0,0.0,0.0,0.0,1420.0,0.0,0.0,1.0

## MODEL TRAINING

In [32]:
from sklearn.model_selection import train_test_split 

X = df.drop('Defaulter', axis=1) 
y = df["Defaulter"] 
#DATA SPLITTING#
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0) 
print("Shape of the X_train", X_train.shape) 
print("Shape of the y_train", y_train.shape) 
print("Shape of the X_test", X_test.shape) 
print("Shape of the y_test", y_test.shape)

Shape of the X_train (8540, 8)
Shape of the y_train (8540,)
Shape of the X_test (2135, 8)
Shape of the y_test (2135,)

## MODEL BUILDING

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
    
def evaluating_model(y_test, y_pred):  
    ''' 
    Function for evaluating our models.
    '''
    print("Accuracy Score:- ", accuracy_score(y_test, y_pred)) 
    print("Precision Score:- ", precision_score(y_test, y_pred)) 
    print("Recall Score:- ", recall_score(y_test, y_pred)) 
    print("Confusion Matrix:- \n", confusion_matrix(y_test, y_pred))
    return accuracy_score(y_test, y_pred), precision_score(y_test, y_pred),recall_score(y_test, y_pred)

In [34]:
# building logistic regression model as a baseline model 

from sklearn.linear_model import LogisticRegression 

lr_clf = LogisticRegression(max_iter=10000000000) 
lr_clf.fit(X_train, y_train) 

lr_clf_pred = lr_clf.predict(X_test)

In [35]:
lr_clf_pred

array([0, 0, 1, ..., 0, 0, 0])

In [36]:
y_pred = lr_clf.predict(X_test)
evaluating_model(y_test, y_pred)

Accuracy Score:-  0.8482435597189696
Precision Score:-  0.49843260188087773
Recall Score:-  0.49226006191950467
Confusion Matrix:-
 [[1652  160]
 [ 164  159]]

(0.8482435597189696, 0.49843260188087773, 0.49226006191950467)

In [ ]:
#MODEL TRAINING
from sklearn.svm import SVC 
from sklearn.model_selection import GridSearchCV 

# defining parameter range
param_grid = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']} 
grid = GridSearchCV(SVC(), param_grid, refit=True, verbose =3) 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.855 total time=   1.6s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.854 total time=   1.8s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.858 total time=   1.7s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.854 total time=   1.6s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.852 total time=   1.6s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.855 total time=   1.2s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.854 total time=   1.2s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.858 total time=   1.2s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.854 total time=   1.2s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.852 total time=   1.2s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.855 total time=   1.2s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.854 total time=   1.5s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.858 total time=   1.2s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.854 total time=   1.7s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.852 total time=   1.3s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.855 total time=   1.4s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.852 total time=   1.4s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.860 total time=   1.7s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.855 total time=   1.4s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.854 total time=   1.6s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.863 total time=   1.8s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.861 total time=   2.0s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.864 total time=   1.2s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.860 total time=   1.4s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.857 total time=   1.7s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.904 total time=   1.3s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.905 total time=   1.3s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.905 total time=   1.8s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.906 total time=   1.7s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.903 total time=   1.5s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.905 total time=   1.4s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.906 total time=   1.6s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.905 total time=   1.8s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.907 total time=   1.5s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.902 total time=   1.8s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.905 total time=   1.9s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.908 total time=   1.5s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.909 total time=   1.4s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.909 total time=   1.6s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.905 total time=   1.7s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.906 total time=   1.7s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.910 total time=   1.4s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.908 total time=   1.4s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.910 total time=   1.4s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.905 total time=   1.5s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.909 total time=   1.4s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.908 total time=   1.3s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.912 total time=   1.2s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.913 total time=   1.3s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.906 total time=   1.3s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.904 total time=   1.3s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.905 total time=   1.4s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.905 total time=   1.2s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.906 total time=   1.3s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.903 total time=   1.2s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.905 total time=   1.3s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.905 total time=   1.3s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.907 total time=   1.3s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.907 total time=   1.3s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.902 total time=   1.3s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.905 total time=   1.3s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.905 total time=   1.2s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.908 total time=   1.3s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.910 total time=   1.4s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.909 total time=   1.3s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.913 total time=   1.3s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.908 total time=   1.3s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.915 total time=   1.3s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.915 total time=   1.6s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.916 total time=   1.3s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.916 total time=   1.2s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.912 total time=   1.2s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.904 total time=   1.3s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.905 total time=   1.3s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.905 total time=   1.2s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.906 total time=   1.3s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.903 total time=   1.2s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.905 total time=   1.3s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.905 total time=   1.3s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.907 total time=   1.2s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.907 total time=   1.3s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.902 total time=   1.3s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.904 total time=   1.2s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.905 total time=   1.2s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.908 total time=   1.3s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.910 total time=   1.3s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.912 total time=   1.2s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.913 total time=   1.3s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.909 total time=   1.3s
[CV 1/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.918 total time=   1.4s
[CV 2/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.914 total time=   1.5s
[CV 3/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.917 total time=   1.5s
[CV 4/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.920 total time=   1.4s
[CV 5/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.914 total time=   1.7s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.904 total time=   1.7s
[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.905 total time=   2.1s
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.905 total time=   1.4s
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.906 total time=   1.4s
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.903 total time=   1.6s
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.905 total time=   2.0s
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.905 total time=   2.1s
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.907 total time=   1.6s
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.907 total time=   1.5s
[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.902 total time=   1.5s
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.904 total time=   1.6s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.910 total time=   1.3s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.905 total time=   1.3s

In [ ]:
#FINAL RESULT#
svc = SVC(C = 1000, gamma = 0.000001) 
svc.fit(X_train, y_train) 
y_pred2 = svc.predict(X_test) 
evaluating_model(y_test, y_pred2)